<!DOCTYPE html>
<head>
    <html lang="en">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/hw2.css') }}">
</head>
<body>
    {% extends "layout.html" %}
    {% block body %}
    <h1>Login</h1>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="post">
        {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" placeholder="Username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" placeholder="Password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    {% endblock %}
</body>
